/* variables */
:root {
    /* Colors */

    /* Primary */

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */

    --blue: hsl(248, 32%, 49%);

    /*  Neutral */

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --light-gray: hsl(0, 0%, 89%);

    /* box shadows */
    --dark-blue-shadow: hsla(249, 10%, 26%, 0.2);
    --green-shadow: hsl(154, 60%, 44%);

    /* border radius */
    --border-radius-large: 10px;
    --border-radius-small: 8px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--red);
    background-image: url("../images/bg-intro-mobile.png");
}

main {
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 4rem 1.8rem;
    text-align: center;
    color: #fff;
}

hgroup {
    display: grid;
    gap: 2rem;
}

h1 {
    font-size: clamp(1.6rem, 8vw, 3rem);
}

p {
    font-size: clamp(1rem, 4vw, 1.2rem);
}

/* form */

form {
    display: grid;
    gap: 1.5rem;
    max-width: 100%;
}

form h2 {
    background-color: var(--blue);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-weight: 400;
    padding: 1.2rem 4rem;
    text-wrap: wrap;
    border-radius: var(--border-radius-large);
    box-shadow: 0 8px var(--dark-blue-shadow);
}

form fieldset {
    border: none;
    background-color: #fff;
    border-radius: var(--border-radius-large);
    box-shadow: 0 8px var(--dark-blue-shadow);
    display: grid;
    gap: 1.2rem;
    padding: 1.3rem;
}

.input-error-box {
    display: grid;
    gap: .5rem;
}

.input-box {
    border: 1px var(--light-gray) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    border-radius: var(--border-radius-small);


    input {
        flex: 1;
        border: none;
        outline: none;
        font: inherit;
        font-size: clamp(.75rem, 3vw, 1rem);
        ;
        font-weight: 600;
    }
}

.input-box.focused {
    border-color: var(--blue);
    border-width: 1px;
}

.error {
    color: var(--red);
    font-size: clamp(.75rem, 3vw, 1rem);
    margin-left: auto;

}



form button {
    background-color: var(--green);
    border: none;
    font: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding-block: 1rem;
    border-radius: var(--border-radius-small);
    box-shadow: 0 5px var(--green-shadow);
    cursor: pointer;
    transition: opacity .2s;

    &:hover {
        opacity: .9;
    }
}

form p {
    color: var(--grayish-blue);
    font-size: clamp(.75rem, 3vw, 1rem);

    em {
        color: var(--red);
        font-style: normal;
        font-weight: 600;
        line-height: 2;
    }
}





/* tablate */
@media (min-width: 30em) {
    main {
        max-width: 600px;
        margin-inline: auto;
    }
}

/* desktop */
@media (min-width: 60em) {

    main {
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
        text-align: left;
        padding-block: 0;
    }
}